<template id="tmpl-confirm-dialog">
  <style>
    .popup {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .popup-content {
      margin: auto;
      max-width: 50%;
      background: var(--color-bg);
      color: var(--color-fg);
      margin-top: 10%;
    }

    .title {
      border-bottom: var(--border-size) solid var(--border-color);
      padding-bottom: 0.8rem;
    }
  </style>

  <div class="popup">
    <div class="popup-content is-column is-gap is-border is-padding">
      <div id="dialog-title is-text-bold is-text-large" class="title">
        title
      </div>
      <p id="dialog-msg">Message</p>
      <div class="is-row is-gap">
        <button id="btn-cancel" class="btn" type="button">Cancel</button>
        <button id="btn-ok" class="btn" type="button">Ok</button>
      </div>
    </div>
  </div>
</template>
