<template id="tmpl-lession-status">
  <style>
    .dense td,
    .dense th {
        padding: 0.4rem 1rem;
    }
  </style>
  <table class="dense">
    <tr>
      <td >No correct answers</td>
      <td id="answers-0">0</td>
    </tr>
    <tr>
      <td>One correct answer</td>
      <td id="answers-1">0</td>
    </tr>
    <tr>
      <td>Two correct answers</td>
      <td id="answers-2">0</td>
    </tr>
    <tr>
      <td>Learned</td>
      <td id="answers-3">0</td>
    </tr>
    <tr>
      <th>Total</dt>
      <th id="total">0</dd>
    </tr>
  </table>
</template>
