<template id="tmpl-navigation">
  <style>
    nav {
      box-shadow: var(--shadow);
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: var(--color-primary);

      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);

      padding-top: 1rem;
      padding-bottom: 1rem;

      margin-bottom: var(--gap);
    }
  </style>

  <nav>
    <div class="nav is-padding-x">
      <h1 class="is-text-reverse">Vanilla Trainer</h1>
      <div id="nav-items" class="is-row is-gap">
        <a href="#/">
          <ui-icons class="reverse" data-icon="home" />
        </a>
        <a href="#/books">
          <ui-icons class="reverse" data-icon="book" />
        </a>
        <a href="#/misc/cache">
          <ui-icons class="reverse" data-icon="cache" />
        </a>
        <a href="#/misc/search">
          <ui-icons class="reverse" data-icon="search" />
        </a>
        <a href="#/admin">
          <ui-icons class="reverse" data-icon="admin" />
        </a>
        <a href="#/admin" id="logout">
          <ui-icons class="reverse" data-icon="logout" />
        </a>
      </div>
    </div>
  </nav>
</template>
