<template id="tmpl-question-show">
  <style>
    .label {
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  </style>
  <div class="is-column is-gap-small">
    <div class="is-grid-3">
      <div class="is-column">
        <div class="label" id="label">Question</div>
        <div
          id="quest"
          class="is-border is-shadow is-padding-input is-multiline is-grow"
        ></div>
      </div>
      <div class="is-column">
        <div class="label">Answer</div>
        <div
          id="answer"
          class="is-border is-shadow is-padding-input is-multiline is-grow"
        ></div>
      </div>
      <div class="is-column">
        <div class="label">Details</div>
        <div
          id="details"
          class="is-border is-shadow is-padding-input is-multiline is-grow"
        ></div>
      </div>
    </div>

    <div class="is-row is-end is-gap-small">
      <ui-icons data-icon="delete"></ui-icons>
      <ui-icons data-icon="update"></ui-icons>
    </div>
  </div>
</template>
