:root {
  /* Tailwind blue */
  --color-blue-50: oklch(0.97 0.014 254.604);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-200: oklch(0.882 0.059 254.128);
  --color-blue-300: oklch(0.809 0.105 251.813);
  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-blue-500: oklch(0.623 0.214 259.815);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-blue-700: oklch(0.488 0.243 264.376);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-blue-900: oklch(0.379 0.146 265.522);
  --color-blue-950: oklch(0.282 0.091 267.935);

  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  --color-gray-950: oklch(0.13 0.028 261.692);

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* ------------------------- */

  --transition: 300ms;

  --padding-x: 1.8rem;

  --gap: 1.4rem;

  --font-weight-bold: 600;
  --shadow: var(--shadow-md);

  /*
   * Colors
   */
  --color-fg: var(--color-gray-700);
  --color-bg: #ffffff;

  --color-primary: var(--color-blue-700);
  --color-primary-hl: var(--color-blue-800);

  --color-reverse: #ffffff;
  --color-error: #700000;

  --color-focus: var(--color-blue-500);

  /*
   * Border
   */
  --border-radius: 0.3rem;
  --border-size: 1px;
  --border: var(--border-size) solid var(--color-gray-300);

  /*
   * Background color
   */
  --bg-gradient-from: var(--color-gray-50);
  --bg-gradient-to: var(--color-gray-300);

  /*
   * Breakpoints for media queries
   */
  --break-point-sm: 320px;
  --break-point-md: 640px;
  --break-point-lg: 960px;
  --break-point-xl: 1280px;
}

* {
  font-family: Verdana, sans-serif;
  font-size: medium;
}

html {
  height: 100%;
  color: var(--color-fg);
}

body {
  margin: auto;
  background-image: linear-gradient(
    var(--bg-gradient-from),
    var(--bg-gradient-to)
  );
}

#app {
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: var(--shadow);
}

footer {
  text-align: right;
  font-size: small;

  border-top: var(--border);

  padding: 1.5rem 0rem;

  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
}

/* --------------------- */
.btn {
  color: white;
  background-color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.6rem 1rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-hl);
}

input,
textarea {
  color: inherit;

  min-width: 20rem;
  padding: 0.5rem 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-xs);
}

input:focus,
textarea:focus {
  border: var(--border-size) solid var(--color-focus);
  outline: 0px;
}

.icon {
  height: 2.5rem;
  color: var(--color-reverse);
  padding: 0.3rem;
}

.icon:hover {
  background-color: var(--color-primary-hl);
  border-radius: 50%;
  padding: 0.35rem;
}

/* -------------------- */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 1.2rem;
  text-align: left;
}

tr {
  border-bottom: var(--border);
}

tr:last-child {
  padding-right: 0;
}

/* ------------------------------- */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-bottom: var(--gap);
}

nav {
  box-shadow: var(--shadow);
}

.px {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

/******************************************************************************
 * 
 *****************************************************************************/

.is-row {
  display: flex;
  flex-direction: row;
}

.is-column {
  display: flex;
  flex-direction: column;
}

.is-gap {
  gap: var(--gap);
}

.is-gap-small {
  gap: calc(var(--gap) / 2);
}

.is-row-center {
  justify-content: center;
  align-items: center;
}

/******************************************************************************
 * 
 *****************************************************************************/

.is-error {
  color: var(--color-error);
}

.is-text-small {
  font-size: small;
}

.is-text-bold {
  font-weight: var(--font-weight-bold);
}

.is-text-reverse {
  color: var(--color-reverse);
}

/******************************************************************************
 * Defintion of the header tags
 *****************************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.4rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}

/******************************************************************************
 * Definition of the container and the grid.
 * 
 * The definition contains hide-xx classes. The component is shown if the 
 * display is lager. Example:
 *
 * hide-md - hide: sm,md show: lg,xl
 *****************************************************************************/

.container {
  max-width: var(--break-point-xl);
  margin: 0 auto;
}

/* large: lg */
@media (max-width: 1280px) {
  .container {
    max-width: var(--break-point-lg);
  }

  .hide-lg {
    display: none;
  }

  .input {
    width: 30rem;
  }
}

/* medium: md */
@media (max-width: 960px) {
  .container {
    width: 100%;
  }

  .hide-md,
  .hide-lg {
    display: none;
  }

  .input {
    width: 25rem;
  }

  #app {
    margin: 0rem;
  }
}

/* small: sl */
@media (max-width: 640px) {
  .container {
    width: 100%;
  }

  .hide-sm,
  .hide-md,
  .hide-lg {
    display: none;
  }

  .input {
    width: 100%;
  }

  #app {
    margin: 0rem;
  }
}
