:root {
  --error-color: #700000;

  --border: 0.5px solid #999;
  --border-radius: 0.3rem;

  /* Tailwind blue */
  --color-blue-50: oklch(0.97 0.014 254.604);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-200: oklch(0.882 0.059 254.128);
  --color-blue-300: oklch(0.809 0.105 251.813);
  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-blue-500: oklch(0.623 0.214 259.815);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-blue-700: oklch(0.488 0.243 264.376);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-blue-900: oklch(0.379 0.146 265.522);
  --color-blue-950: oklch(0.282 0.091 267.935);

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

* {
  font-family: Verdana, sans-serif;
  font-size: small;
}

.border {
  border: var(--border);
  border-radius: var(--border-radius);
}

.container {
  padding: 0.8rem 1rem;
}

body {
  margin: auto;
  width: 50%;
  background-image: linear-gradient(#eee, #ddd, #eee);
  color: #333;
}

#app {
  background-color: white;
  border-radius: var(--border-radius);
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem 2rem;
  /*
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */
  box-shadow: var(--shadow-md);
}

footer {
  text-align: right;
  padding: 1rem 2rem;
  font-size: small;
  border-top: var(--border);
  margin-top: 2rem;
}

/* Not used */
.error {
  color: var(--error-color);
}

page-layout::slotted(.field-label) {
  font-weight: 600;
  font-size: small;
  display: block;
}

/* --------------------- */
.btn {
  color: white;
  background-color: var(--color-blue-600);
  font-weight: 600;
  transition: 300ms;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-blue-700);
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field-label {
  display: block;
  font-weight: 600;
  font-size: small;
  color: #444;
  margin-bottom: 0.5rem;
}

.field-error {
  color: #700000;
  font-size: small;
  margin-top: 0.2rem;
}

.input-password,
.input-text {
  min-width: 20rem;
  padding: 0.5rem 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-xs);
}
